{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Song+Myung&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            * { font-family: 'Song Myung', serif; text-align:center; }
            .basic {
              line-height:25px;
            }
            .Usurvey{
              position: absolute;
              top:13%;
              left:36%;
              font-size:30px;
            }
            .row { font-size:15px; }
        </style>
    </head>
    <body>
        <div class="Usurvey">
            <h2>설문등록</h2>
            <div class="row">
                <div class="basic">
                    <form action="{% url 'postcreate' %}" method='POST' enctype="multipart/form-data"> 
                        {% csrf_token %} 
                        <table>
                        {{form.as_table}} 
                        </table>
                        <br>
                        <span style="float:right">
                        <input type="submit" class="btn btn-outline-danger" value="등록">
                        </span>
                    </form>
                    <!--<label for="head">설문조사 제목</label><br>
                    <input type="text" class="" id="" placeholder="제목을 적어주세요" value="" style="width:500px" required><br>
                    <label for="belong to">소속</label><br>
                    <input type="text" class="" id="lastName" placeholder="소속을 입력해주세요" value="" style="width:500px" required><br>                  
                    <label for="explain">설문조사 설명</label><br>
                    <textarea class="form-control" id="" placeholder="설문조사에 대해 간단한 설명을 적어주세요" value=""  rows="5" cols="50" required></textarea><br>
                    <label for="country">카테고리</label>
                    <select class="custom-select d-block w-100" id="country" required>
                        <option value="">카테고리를 선택해주세요</option>
                        <option>경영</option>
                        <option>경제</option>
                        <option>사회</option>
                        <option>교육</option>
                        <option>정치</option>
                    </select>
                    <br>
                    <label for="url">URL 첨부</label>
                    <input type="text" class="" id="lastName" placeholder="URL첨부" value="" style="width:500px" required>
                    <br>
                    -->
                  <!--<span style="float:right">
                  <button class="btn btn-outline-danger" type="button" >등록</button>
                  </span>-->
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}

